#contenedorpj {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#divMonster {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
[id*= "divPj"] {
    width: 200px;
}
img {
    height: 200px;
}
fieldset {
    width: 20%;
}